
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font: 10px sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

.cesium-viewer {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 100%;
  height: 100%;
}

#cesiumCreditsContainer {
  position: absolute;
  bottom: 18px;
  left: 169px;
  max-width: 50%;
}

#cesiumTimelineContainer {
    position: absolute;
    bottom: 0;
    left: 169px;
    right: 0px;
    height: 1.1em;
}

#animationContainer {
    position: absolute;
    bottom: 0;
    width: 169px;
    height: 100px;
}

#bigLegendCanvas {
  position:absolute;
  top:0px;
  right:0px;
  width:70%;
  height:100%;
}

.paletteDropdownMenuCanvas {
  width:150px;
  height:10px;
}

.paletteDropdownMenu {
    height:400px;
    min-width: 275px;
    overflow-x:hidden;
    overflow-y:auto
}

.paletteMenuItem {
  padding: 0px 10px !important;
}

.interface-visible {
  z-index: 1;
}

.interface-clickable {
  pointer-events: all;
}

.interface-clickthrough {
  pointer-events: none;
}

.logo-custom-resc {
  max-width:20%;
  max-height:10%;
  margin-bottom: 5px;
}

.logo-custom-uu {
  max-width:60%;
}

.logo-custom-tud {
  max-width:38%;
}

.logo-custom-nlesc {
  max-width:100%;
}

.logo-custom-ewatercycle {
  max-width:100%;
}

.ontop-dropdown {
  position:absolute;
  z-index:1000;
  left: 50px;
  top: 30px;
}

.ewa-dropdown {
  color: #ffffff;
  position: relative;
  display: block;
  padding: 10px 15px;
}

.dropdown-menu {
  max-height:400px;
  overflow-y:auto;
  overflow-x: hidden;
}

.customgraph-dropdown-menu {
  max-height:250px;
  overflow-y:auto;
}

.ewa-checkbox {
  color: #ffffff;
  position: relative;
  display: block;
}

.ewa-projectlogobox {
    position:absolute;
    top:1%;
    left:1%;
    max-width:25%;
}

.ewa-logobox {
    position:absolute;
    bottom:4%;
    right:2%;
    max-width:25%;
    max-height:15%
}

.ewa-logobox-top {
    position:relative;
}

.ewa-logobox-bottom {
    position:relative;
    margin-top: -5%;
}

.nav-pills>li>a {
  border-radius: 4px;
  z-index: 2;
}

.navbar-right-custom-top {
  position: absolute;
  float: right;
  max-width: 75%;
  top: 4px;
  right: 4px;
  z-index: 2;
}

.bigLegendContainer {
  display: block;
  position: absolute;
  right: 2%;
  top: 80px;
  min-width: 75px;
  width: 6%;
  height: 75%;
}

.bigLegendFlexContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 90%;
  width: 35%
}

.bigLegendFlexSection {
  flex: 1 1 20%;
}

.bigLegendFormTextField {
  width: 100%;
  min-width: 50px;
  font-size: 10px;
  color: #000000;
  align-self: flex-start;
}

.bigLegendFlexText {
  font-size: 10px;
  color: #ffffff;
  align-self: flex-start;
}

.bigLegendImg {
  position:absolute;
  top:0px;
  right: 0%;
  height:90%;
  width: 50%;
}

.bigLegendUnits {
  position: relative;
  float: right;
  font-size: large;  
  color: #ffffff;
  margin-top:5%;
}

.cesium-widget-credits {
  position: relative;
}

.cesium-timeline-bar {
	height: 1.1em;
}

.cesium-credit-text {
  white-space: normal;
}

#infoBox {
  display: block;
  position: absolute;
  left: 0%;
  margin-left: 15px;
  top: 12%;
  max-width: 20%;
  height: 75%;
  color: #ffffff;
  font-size: 10px;
}

.linegraphContainer {
  display: block;
  position:absolute;
  top: 15%;
  left: 3%;
  max-width:50%;
  min-width:500px;
}

.customgraph1 {
  display: block;
  position:absolute;
  top: 15%;
  left: 1%;
  max-width:50%;
  min-width:500px;
  z-index: 1;
}

.customgraph2 {
  display: block;
  position:absolute;
  top: 50%;
  left: 1%;
  max-width:50%;
  min-width:500px;
  z-index: 1;
}

.bargraphContainer {
  display: block;
  position:absolute;
  top: 35%;
  max-width:20%;
}

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700);

svg {
  font: 14px 'Open Sans';
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #fff;
}

.axis .tick line {
  stroke: rgba(255, 255, 255, 0.2);
}

.area {
  stroke-width: 1;
}

.area.outer {
  fill: rgba(50, 50, 75, 0.8);
  stroke: rgba(75, 75, 100, 0.8);
}

.area.inner {
  fill: rgba(75, 75, 150, 0.8);
  stroke: rgba(96, 96, 255, 0.8);
}

.median-line {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
}

.hover-line {
  fill: none;
	stroke: rgba(255, 0, 0, 1);
}
.time-indicator-line {
  fill: none;
	stroke: rgba(255, 0, 0, 1);
}

.overlay {
  fill: rgba(0, 0, 0, 0);
  stroke: none;
  pointer-events: painted;
}
.log-icon {
  background-image: url("../images/nologiconsmall.png");
}
.log-icon.active {
  background-image: url("../images/logiconsmall.png");
}
.outlines-icon {
  background-image: url("../images/nobordersiconsmall.png");
}
.outlines-icon.active {
  background-image: url("../images/bordersiconsmall.png");
}
.terrain-icon {
  background-image: url("../images/noterrainiconsmall.png");
}
.terrain-icon.active {
  background-image: url("../images/terrainiconsmall.png");
}
.graph-icon {
  background-image: url("../images/graphiconsmall.png");
}
.help-icon {
  background-image: url("../images/helpiconsmall.png");
}
.close-icon {
  background-image: url("../images/closeiconsmall.png");
  position:absolute;
  top: 10%;
  right: 3%;
  border: 0;
}
.icon-big {
  width: 40px;
  height: 40px;
  border-color: none;
  background-color: transparent;
  box-shadow: none;
}

[ng-cloak].splash {
  display: block !important;
}
[ng-cloak] {display: none;}
.splash {
  background: blue;
  color: white;
}
.splash h2 {
  font-size: 2.1em;
  font-weight: 500;
}

.help-panel {
  position: absolute;
  top: 140%;
  right: 20%;
  z-index: 1;
  width: 100%;
  min-height: 100px;
  max-height: 1000%;
  overflow-y: auto;
}

.help-panel a {
  color: blue;
}

.help-panel .panel-body {
}
