<!DOCTYPE html>
<html lang="en" ng-app="pattyApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

<title>PattyVis Dashboard</title>

<!-- Latest compiled and minified CSS -->
<link type="text/css" rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
<!--[if lt IE 9]>
    	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<style type="text/css">
</style>

</head>
<body style="overflow: hidden" ng-controller="BodyCtrl">
	<header class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
				</button>
				<a class="pull-left-custom" href="#"><img class="media-object img-responsive-custom" src="eWaterCycle_3.svg"></a>
			</div>

			<div class="nav nav-pills navbar-right-custom">
			  <ul>
					<li>
						<div ng-controller="ViewModelCtrl" class="navbar-item-right-custom dropdown">
							<a data-toggle="dropdown" href="#"> Fly To <b class="caret"></b></a>
							<ul class="dropdown-menu" role="menu" style="height: 300px; overflow-y: auto">
								<li ng-repeat="country in data.locations.countries | orderBy:'country'">
								  <a ng-click=selectCountry(country.country)>{{country.country}}</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>				
			</div>			
		</div>
	</header>
	<!--/.navbar -->
	<header class="navbar navbar-custom navbar-fixed-bottom" role="navigation">
		<div class="navbar-container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
				</button>
				<a class="pull-right-custom" href="http://www.esciencecenter.nl"><img class="media-object logo-custom navbar-right-custom img-responsive-logo" src="ESCIENCE_logo.png"></a>
			</div>
		</div>
		<!--/.container-fluid -->
	</header>
	<!--/.navbar -->

	<!-- build:js(.) scripts/oldieshim.js -->
	<!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
	<!-- endbuild -->

	<!-- build:js(.) scripts/vendor.js -->
	<!-- bower:js -->
	<script src="../bower_components/jquery/dist/jquery.js"></script>
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/json3/lib/json3.js"></script>
	<script src="../bower_components/angular-resource/angular-resource.js"></script>
	<script src="../bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="../bower_components/angular-animate/angular-animate.js"></script>
	<script src="../bower_components/angular-touch/angular-touch.js"></script>
	<script src="../bower_components/angular-route/angular-route.js"></script>
	<script src="../bower_components/ui.bootstrap/dist/ui-bootstrap-0.11.0.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers/main.js"></script>
	<script src="scripts/controllers/about.js"></script>
	<!-- endbuild -->

	<!-- Latest compiled and minified JavaScript -->
	<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../bower_components/ui.bootstrap/dist/ui-bootstrap-tpls-0.11.0.js"></script>

	<div id="" class="fullSize">
		<script type="text/javascript" src="patty.js">doCesiumJSON()</script>
	</div>

</body>
</html>

